@import url("/css/reset.css");

#toast-container > .toast-error { background-color: #BD362F; }
#toast-container > .toast-success { background-color: grey; }

.history-card .left{
    float:left;
    width:60%;
}

.history-card .right{
    float:right;
    text-align: right;
    width:40%;
}

.history-card .prize{
    font-weight: bold
}
/*
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/
