<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/header}"></div>
<body class="sb-nav-fixed">
    <form id="mainForm">
    <div th:replace="~{layout/navbar}"></div>

    <div id="layoutSidenav_content">
        <div align="center">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="438" height="500" class="" align="center" valign="center">
                        <div>
                          <!-- <span th:text="${gameInfoList}"></span>-->
                            <h3 class="mt-4">3회차 게임</h3>
                        </div>
                        <canvas id="canvas" onclick="startSpin(event)" width="456" height="500" style="width: calc(100% - 30px);">
                            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                        </canvas>
                        <div class="input-group">
                            <input id="rouletteItem" class="form-control" value="" placeholder="등록할 아이템을 입력" style="width: 150px;" type="text">
                            <button class="btn btn-primary" type="button" onclick="saveRouletteItem()">등록</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-around mt-4 mb-0">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">공유하기</a>
                            <a class="btn btn-primary" href="javascript:resetWheel();">다시</a>
                        </div>
                    </td>

                </tr>
            </table>

        </div>

    </div>

<!-- Modal -->
    <div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:bold">공유하기</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="text-align: center;">
                <a href="javascript:;" onclick="openKakaoLink()">
                    <img
                            src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                            alt="카카오톡 공유 보내기 버튼"

                    />
                </a>
                <input type="hidden" id="create-kakaotalk-sharing-btn" style="display:block"></input>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="input-group">
                    <input class="form-control" value="http://116.37.136.233:8080" style="width: 150px;" type="text" readonly>
                    <button class="btn btn-primary" type="button">링크 복사</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </form>
</body>
<div th:replace="~{layout/footer}"></div>

<script th:inline="javascript">
    Kakao.init('81b150637e9c592b9f563734c15df707');


  /*  var mainForm = document.all.mainForm;
    mainForm.action = "/GameData";
    fn_ajaxSubmit("#mainForm", mainForm.action, "GET", function(objRespJson) {
        alert(3);
    });*/



    function openKakaoLink(){
        saveRouletteImg();
        $("#create-kakaotalk-sharing-btn").click()
    }
    function saveRouletteImg(){
        var canvas=document.getElementById('canvas');
        var canvImgStr = canvas.toDataURL('image/png', 1.0);  // canvas.toDataURL()을 이용하여 base64 img string 으로 변경
        $.ajax({
            url : '/saveRouletteImg',
            data : { strImg: canvImgStr, gameCode: [[ ${game.getGameCode()} ]] },
            type : 'POST',
            success : function(json) {
                createSharingBtn();
            },
            error : function(request, textStatus, errorThrown) {
                location.href = "/html/error.html"; //레드마인 조치
            }
        });
        return;
    }
    function createSharingBtn(){
        Kakao.Link.createDefaultButton({
            container: '#create-kakaotalk-sharing-btn',
            objectType: 'feed',
            content: {
                title: '36회차 게임',
                description: '원하는 메뉴를 등록 해주세요~',
                //imageUrl: 'https://webisfree.com/static/uploads/2020/6269_webisfree867.jpg',
                imageUrl: 'http://116.37.136.233:8080/loadImage.do?fileId=1&gameCode=' + [[ ${game.getGameCode()} ]] + '&blockCache=' + generateRandomString(10),
                link: {
                    mobileWebUrl: 'https://developers.kakao.com',
                    webUrl: 'https://developers.kakao.com',
                },
            },
            social: {
                commentCount: 30,
            },
            buttons: [
                {
                    title: '등록하러 가기',
                    link: {
                        mobileWebUrl: 'http://116.37.136.233:8080',
                        webUrl: 'http://116.37.136.233:8080',
                    },
                },
            ],
            serverCallbackArgs: '{"key":"value"}'
        })
    }


    let theWheel;
    let img = new Image();
    let wheelObject;
    img.src = 'assets/img/roulette-start.png'; // 이미지가 로드되고 나서 룰렛 생성
    img.onload = function() {
        wheelObject = {
            'numSegments': 8,     // Specify number of segments.
            'outerRadius': 212,   // Set outer radius so wheel fits inside the background.
            'textFontSize': 28,    // Set font size as desired.
            'innerRadius': 40,         // Make wheel hollow so segments don't go all way to center.
            'textAlignment': 'outer',    // Align text to outside of wheel.
            'innerImage': img,
            'textFillStyle' : "white",
            'lineWidth': 3,
            'segments':        // Define segments including colour and text.
                [
                    {'fillStyle': '#007BFF', 'text': 'Prize 1'},
                    {'fillStyle': '#DC3545', 'text': 'Prize 2'},
                    {'fillStyle': '#28A745', 'text': 'Prize 3'},
                    {'fillStyle': '#FFC107', 'text': 'Prize 4'},
                    {'fillStyle': '#007BFF', 'text': 'Prize 5'},
                    {'fillStyle': '#DC3545', 'text': 'Prize 6'},
                    {'fillStyle': '#28A745', 'text': 'Prize 7'},
                    {'fillStyle': '#FFC107', 'text': 'Prize 8'}
                ],
            'animation':           // Specify the animation to use.
                {
                    'type': 'spinToStop',
                    'duration': 5,     // Duration in seconds.
                    'spins': 8,     // Number of complete spins.
                    'callbackFinished': alertPrize
                }
        }
        // Create new wheel object specifying the parameters at creation time.
        theWheel = new Winwheel(wheelObject);
    }
    // Vars used by the code in this page to do power controls.
    let wheelPower    = 0;
    let wheelSpinning = false;


    function saveRouletteItem(){
        //현재 색깔 설정 타입
        //
        wheelObject.segments.push({'fillStyle': '#FFC107', 'text': $("#rouletteItem").val()});
        wheelObject.numSegments = wheelObject.numSegments + 1;
        theWheel = new Winwheel(wheelObject);
        $("#rouletteItem").val("");
        //실제 데이터 저장
    }
    // -------------------------------------------------------
    // Click handler for spin button.
    // -------------------------------------------------------
    function startSpin()
    {
        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');

        var x = event.offsetX;
        var y = event.offsetY;

        if(x>=163 && y>=190 && x<=237 && y<=256){
        // Ensure that spinning can't be clicked again while already running.
            if (wheelSpinning == false) {
                // Based on the power level selected adjust the number of spins for the wheel, the more times is has
                // to rotate with the duration of the animation the quicker the wheel spins.
                if (wheelPower == 1) {
                    theWheel.animation.spins = 3;
                } else if (wheelPower == 2) {
                    theWheel.animation.spins = 8;
                } else if (wheelPower == 3) {
                    theWheel.animation.spins = 15;
                }

                // Begin the spin animation by calling startAnimation on the wheel object.
                theWheel.startAnimation();

                // Set to true so that power can't be changed and spin button re-enabled during
                // the current animation. The user will have to reset before spinning again.
                wheelSpinning = true;
            }
        }
    }

    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel()
    {
        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.

        theWheel.draw();                // Call draw to render changes to the wheel.

        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
    }

    function alertPrize(indicatedSegment)
    {
        alert("You have won " + indicatedSegment.text);
    }
</script>
</html>