<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/header}"></div>
<body class="sb-nav-fixed">

    <div th:replace="~{layout/navbar}"></div>

    <div id="layoutSidenav_content">
        <div align="center">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="438" height="500" class="" align="center" valign="center">
                        <div>
                            <h3 class="mt-4" th:text="${roulette.getTitle()}">My Roulette</h3>
                        </div>
                        <canvas id="canvas" onclick="startSpin(event)" width="456" height="500" style="width: calc(100% - 30px);">
                            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                        </canvas>

                        <div>
                            <h3 class="mt-4" id="result" ></h3>

                      <!--          th:if="${roulette.getRouletteStatus().name() == 'FINISH'}" th:text="'결과 : '+${roulette.getRouletteSegmentResponseDtos().get(roulette.getPrize()).getElement()}">My Roulette</h3>-->
                        </div>
                        <form role="form" action="/roulette/segment" th:object="${rouletteForm}" method="post">
                            <div class="input-group">
                                <!--<input type="text" id="rouletteItem" name="rouletteItem" class="form-control" placeholder="아이템을 입력하세요" style="width: 150px;">
-->
                                <input type="text" th:field="*{rouletteItem}" class="form-control" placeholder="이름을 입력하세요"
                                       th:class="${#fields.hasErrors('rouletteItem')}? 'form-control fieldError' : 'form-control'">
                                <p th:if="${#fields.hasErrors('rouletteItem')}" th:errors="*{rouletteItem}">Incorrect date</p>


                                <!--<button class="btn btn-primary" type="button" onclick="saveRouletteItem()">등록</button>-->
                                <button class="btn btn-primary" type="submit">등록</button>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-around mt-4 mb-0">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">공유하기</a>
                            <!--<a class="btn btn-primary" href="javascript:resetRoulette();">새 게임</a>-->
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">새 게임</a>
                        </div>
                    </td>

                </tr>
            </table>

        </div>

    </div>

<!-- Share Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title" style="font-weight:bold">공유하기</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="text-align: center;">
                    <a href="javascript:;" onclick="openKakaoLink()">
                        <img
                                src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                                alt="카카오톡 공유 보내기 버튼"

                        />
                    </a>
                    <input type="hidden" id="create-kakaotalk-sharing-btn" style="display:block"></input>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="input-group">
                        <input class="form-control" value="http://116.37.136.233:8080" style="width: 150px;" type="text" readonly>
                        <button class="btn btn-primary" type="button">링크 복사</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    </div>-->
                    <div class="modal-body">
                        새 게임을 만드시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                    <!--    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
                        <button type="button" class="btn btn-primary" onclick="resetRoulette()">예</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<div th:replace="~{layout/footer}"></div>
<script src="js/roulette_common.js"></script>
<script th:inline="javascript">
    Kakao.init('81b150637e9c592b9f563734c15df707');

/*
    4. 등록버튼 누르면 FormObject 연결
    6. 게임 설정은 id 값 기준으로 저장하기*/

    // 룰렛 기능 ajax로 만들기
    // startSpin 공통으로 빼기..

    let rouletteSegment = [[${roulette.getRouletteSegmentResponseDtos()}]];
    let roulette = [[${roulette}]];


   /* let img = new Image();
    img.src = 'assets/img/roulette-start.png';
    // 이미지 파일이 로드되고 나서 룰렛 생성
    img.onload = function(){


    }*/

    function initRoulette(){
        // 완료된 룰렛일 경우 각도 설정
        if(roulette.rouletteStatus == "FINISH"){
            setRouletteAngle(roulette, rouletteSegment);
        }

        // 룰렛 세그먼트 초기화
        setRouletteSegment(rouletteSegment);

        // 룰렛 초기화
        setRoulette(img);
    }



    function openKakaoLink(){
        saveRouletteImg();
        $("#create-kakaotalk-sharing-btn").click()
    }
    function saveRouletteImg(){
        let canvas = document.getElementById('canvas');
        let canvImgStr = canvas.toDataURL('image/png', 1.0);  // canvas.toDataURL()을 이용하여 base64 img string 으로 변경
        $.ajax({
            url : '/saveRouletteImg',
            data : { strImg: canvImgStr, gameCode: [[ ${roulette.getRouletteCode()} ]] },
            type : 'POST',
            success : function(json) {
                createSharingBtn();
            },
            error : function(request, textStatus, errorThrown) {
                location.href = "/html/error.html"; //레드마인 조치
            }
        });
        return;
    }
    function createSharingBtn(){
        Kakao.Link.createDefaultButton({
            container: '#create-kakaotalk-sharing-btn',
            objectType: 'feed',
            content: {
                title: '36회차 게임',
                description: '원하는 메뉴를 등록 해주세요~',
                //imageUrl: 'https://webisfree.com/static/uploads/2020/6269_webisfree867.jpg',
                imageUrl: 'http://116.37.136.233:8080/loadImage.do?fileId=1&gameCode=' + [[ ${roulette.getRouletteCode()} ]] + '&blockCache=' + generateRandomString(10),
                link: {
                    mobileWebUrl: 'https://developers.kakao.com',
                    webUrl: 'https://developers.kakao.com',
                },
            },
            social: {
                commentCount: 30,
            },
            buttons: [
                {
                    title: '등록하러 가기',
                    link: {
                        mobileWebUrl: 'http://116.37.136.233:8080',
                        webUrl: 'http://116.37.136.233:8080',
                    },
                },
            ],
            serverCallbackArgs: '{"key":"value"}'
        })
    }


    function startSpin(event)
    {
        function spin(event){
            var canvas = document.querySelector('canvas');
            var ctx = canvas.getContext('2d');

            var x = event.offsetX;
            var y = event.offsetY;

            if(x>=163 && y>=190 && x<=237 && y<=256){
                // Ensure that spinning can't be clicked again while already running.
                if (wheelSpinning == false) {
                    // Based on the power level selected adjust the number of spins for the wheel, the more times is has
                    // to rotate with the duration of the animation the quicker the wheel spins.
                    if (wheelPower == 1) {
                        theWheel.animation.spins = 3;
                    } else if (wheelPower == 2) {
                        theWheel.animation.spins = 8;
                    } else if (wheelPower == 3) {
                        theWheel.animation.spins = 15;
                    }

                    // Begin the spin animation by calling startAnimation on the wheel object.
                    theWheel.startAnimation();

                    // Set to true so that power can't be changed and spin button re-enabled during
                    // the current animation. The user will have to reset before spinning again.
                    wheelSpinning = true;
                }
            }
        }
        $.ajax({
            url : '/startRoulette',
            data : { segmentLength: segmentArray.length, rouletteCode: [[ ${roulette.getRouletteCode()} ]] },
            type : 'POST',
            success : function(roulette) {
                // segment에 따른 Angle 추출
                let angle = 360 / roulette.rouletteSegmentResponseDtos.length;

                // prize 세팅
                let prizeAngle = (roulette.prize - 1) * angle;

                // Stroke에 안걸치도록 angle 값 -2 세팅
                let stopAt = prizeAngle + Math.floor((Math.random() * (angle - 2)));

                theWheel.animation.stopAngle = stopAt;

                spin(event);
                $("#canvas").removeAttr("onclick");
            },
            error : function(request, textStatus, errorThrown) {
                alert(request.responseJSON.message);
            }
        });


        //createSharingBtn();
    }


</script>
</html>