<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>룰렛 투게더 - 설정</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


</head>-->
<div th:replace="~{layout/header}"></div>
<body class="sb-nav-fixed">
    <div th:replace="~{layout/navbar}"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">



                    <div class="row mt-4">
                        <div class="col-xl-4">
                            <div class="card mb-4">
                                <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseItemList" aria-expanded="true" aria-controls="collapseItemList" style="display: flex;">
                                    <!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                                    등록 아이템
                                    <div class="sb-sidenav-collapse-arrow" style="
        margin-left: auto;
    "><svg class="svg-inline--fa fa-angle-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"></path></svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>                                   </div>
                                <div class="card-body collapse show" id="collapseItemList" style="overflow: auto;">
                                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                        <div class="dataTable-container">
                                            <table id="datatablesSimple" class="dataTable-table">
                                                <tbody>
                                                <tr th:each="rouletteSegment:${roulette.getRouletteSegment()}" th:id="${rouletteSegment.getSegmentUID()}">
                                                    <td><input class="dataTable-input" placeholder="" type="text" th:name="${'segment_'+rouletteSegment.getSegmentUID()}" th:value="${rouletteSegment.getElement()}"></td>
                                                    <td class="trashClass"><a href="javascript:;" class="btn btn-danger btn-md" th:segmentUID="${rouletteSegment.getSegmentUID()}" data-bs-toggle="modal" data-bs-target="#deleteModal" th:onclick="segmentUID=this.getAttribute('segmentUID')">
                                                        <i class="fas fa-trash"></i>
                                                    </a></td>
                                                </tr>
                                                <!--<div th:each="comment:${commentList}">
                                                    <form method="POST">
                                                        <input type="hidden" id="commentNum" name="CommentNum" th:value="${comment.CO_NUM}">
                                                        <div>
                                                            <input type="button" class="btn p-0 btn-md" name="commentID" th:value="${comment.EMAIL}" />
                                                            <small th:text="${#strings.substring(comment.TIME,0,19)}"></small>
                                                        </div>
                                                        <div th:text="${comment.CONTENT}"></div>
                                                        <div class="text-right" th:if="${comment.EMAIL==userInform.userEmail}">
                                                            <span><button type="submit" name="submit" value="update">수정</button></span>
                                                            <span><button type="submit" name="submit" value="delete">삭제</button></span>
                                                        </div>
                                                    </form>
                                                </div>-->



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4">
                            <div class="card mb-4">
                                <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseSetting" aria-expanded="true" aria-controls="collapseSetting" style="
        display: flex;
    ">
                                    <!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                                    게임 설정
                                    <div class="sb-sidenav-collapse-arrow" style="
        margin-left: auto;
    "><svg class="svg-inline--fa fa-angle-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"></path></svg><!-- <i class="fas fa-angle-down"></i> Font Awesome fontawesome.com --></div>                                   </div>
                                <div class="card-body collapse show" id="collapseSetting" style="">
                                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                        <div class="dataTable-container">
                                            <table id="datatablesSimple2" class="dataTable-table">
                                                <tbody>
                                                <tr>
                                                    <td>제목</td>
                                                    <td><input class="dataTable-input" placeholder="" type="text" th:id="title" th:value="${roulette.getTitle()}"></td>
                                                </tr>
                                                <tr>
                                                    <td>아이템 개수</td>
                                                    <td><input class="dataTable-input" placeholder="" type="text"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">© 2023. loose All rights reserved.</div>
                                <div id="saveComp">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">저장하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light" style="margin-top: 50px">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width: 260px" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                </div>-->
                <div class="modal-body">
                    저장하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                    <!--    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
                    <button id="saveRouletteBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveRoulette();">예</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width: 260px" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                </div>-->
                <div class="modal-body">
                    삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                    <!--    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
                    <button id="deleteSegmentBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="deleteSegment();">예</button>
                </div>
            </div>
        </div>
    </div>
</body>
<div th:replace="~{layout/footer}"></div>
<style>
.dataTable-table > tbody > tr > td {
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
}

.card-header.collapsed .sb-sidenav-collapse-arrow{
    transform: rotate(-90deg);
}
div.py-4.bg-light.mt-auto{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}


/*#toast-container > .customer-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    background-color: dodgerblue;
}

#toast-container > .toast-success { background-color: #BDBDBD; }*/
.toast-success {
    background-color: grey;
}
</style>
<script>
    let rouletteUID = "[[${roulette.getRouletteUID()}]]";
    let rouletteStatus = "[[${roulette.getRouletteStatus()}]]";
    let segmentUID;
    if(rouletteStatus == "FINISH"){
        $("input").attr("disabled", "disabled");
        $(".trashClass").remove();
        $("#saveComp").remove();
    }


    $("#saveModal").on("shown.bs.modal", function () {
        $('#saveRouletteBtn').focus();
    });

    $("#deleteModal").on("shown.bs.modal", function () {
        $('#deleteSegmentBtn').focus();
    });

    $.ajax({
    url : '/api/v1/roulette',
    type : 'GET',
    success : function(roulette) {
        rouletteUID = roulette.rouletteUID;

        // 룰렛 타이틀 설정
        //$("#title").text(roulette.title);

        // 완료된 룰렛일 경우 각도 설정
       /* if(roulette.rouletteStatus == "FINISH"){
            setRouletteAngle(roulette, roulette.rouletteSegment);
            $("#canvas").removeAttr("onclick");
            $("#item").remove();
            img = denyImg;
        }*/
    },
    error : function(request, textStatus, errorThrown) {
        alert(request.responseJSON.message);
        //location.href = "/roulette"
    }
});


function deleteSegment(){
    var data = {
        segmentUID: segmentUID
    };
    $.ajax({
        url : '/api/v1/roulette/segment/'+segmentUID,
        type : 'DELETE',
        contentType: "application/json",
        dataType : "json",
        success : function(roulette) {
            $("#"+segmentUID).remove();
            segmentUID = "";
            toastr.success("삭제되었습니다.");
        },
        error : function(request, textStatus, errorThrown) {
            alert(request.responseJSON.message);
        }
    });

}

function saveRoulette(){
    //세그먼트 아이디가 특별하지 않다..
    //DTO로 List를 던지고 싶다(정제 해야함) {[]}와 같은 형태만 맞춰주면 된다.
    //그래서 DTO안에 DTO도 정제할 수 있을거같은데.. 이렇게하면 Map인 경우에 알아서 걸러져서 들어간다.
    //근데 어차피 중복은 없으니 상관은 없네.. 아니지 중복있지 새로 추가해서 짜장면 짜장면 이렇게 되어버리면..
    //해결해야할건 세그먼트 아이디인데..
    //하나씩 저장하면 id를 href=""에 줘서 url에 꽂아서 하면 되긴하는데

    //한꺼번에 저장할라그러면 id를 식별자로 넘겨야하는데, 이렇게 되면 사용자가 우회적으로 id값을 정제해서 수정할 가능성이 있네..
    //그럼 세그먼트 아이디에서 세그먼트를 조회해서 다시 현재 룰렛코드와 일치한지 확인을 해야되네..

    //아니지 일단 Roulette조회하고 세그먼트 id 일치 시에 해당 segment는 set하고
    //아닌건 신규 저장하고..
    //Roulette Id도 -1 처리할 수 있으니 findByIdAndrouletteUID로 해야겠다

    //ajax 요청시 한꺼번에 보낼 것이냐/ 단건으로 보낼것이냐가 문제인데
    //$.ajax로 보내면 정제해야된다.

    let rouletteSettingObj = new Object();
    let segmentArray = new Array();
    //rouletteSettingObj.id = rouletteId;
    rouletteSettingObj.rouletteUID = rouletteUID;
    rouletteSettingObj.title = $("#title").val();
    $("#datatablesSimple .dataTable-input").each(function(i, v){
        let segmentObj = new Object();
        segmentObj.rouletteSegmentUID = $(v).attr("name").replace("segment_", "");
        segmentObj.element = $(v).val();
        segmentArray.push(segmentObj);
    });
    rouletteSettingObj.rouletteSegmentList = segmentArray;

    $.ajax({
        url : '/api/v1/roulette',
        type : 'PUT',
        data : JSON.stringify(rouletteSettingObj),
        contentType: "application/json",
        dataType : "json",
        success : function(roulette) {
            console.log("헐?");
            toastr.success("저장되었습니다.");
        },
        error : function(request, textStatus, errorThrown) {
            alert(request.responseJSON.message);
            //location.href = "/roulette"
        }
    });
}

</script>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>&ndash;&gt;
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>-->

</html>
