<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/header}"></div>
<body class="sb-nav-fixed">

    <div th:replace="~{layout/navbar}"></div>

    <div id="layoutSidenav_content" style="min-height: unset; /*top: 36px*/">
        <div align="center">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="438" height="500" class="" align="center" valign="center">
                        <div>
                            <h3 class="mt-4" id="title" style="font-weight: bold"></h3>
                        </div>
                        <canvas id="canvas" width="456" height="500" style="width: calc(100% - 30px);">
                            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                        </canvas>
                        <div>
                            <h3 id="result" style="font-weight: bold"></h3>
                        </div>
                        <div id="rouletteHistoryTable" style="margin-top: 20px;">
                            <div class="col-xl-12 col-md-12">
                                <div class="card border-left-success shadow h-100 py-2" style="margin-left: 1rem; margin-right: 1rem;">
                                    <div class="card-body" style="padding: 0rem 1rem;">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2 history-card">
                                                <div class="input-group" style="width:100%;">
                                                    <input style="width: 150px; border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem;" type="text" id="rouletteItem" onkeyup="if(window.event.keyCode==13){saveSegment()}" class="form-control" placeholder="아이템을 입력하세요">
                                                    <button class="btn btn-secondary" onclick="saveSegment()">등록</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
<div th:replace="~{layout/footer}"></div>
<script src="/js/roulette_common.js"></script>
<script th:inline="javascript">
    Kakao.init('81b150637e9c592b9f563734c15df707');

    $(document).ready(function() {
        $("#sidebarToggle").hide();
        $("#layoutSidenav_nav").remove();
        $(".navbar-brand").css("padding-left", "1rem");
        $(".navbar-brand").removeAttr("href");
    })

    // 이미지 파일이 로드되고 나서 룰렛 생성
    let startImg = new Image();
    let denyImg = new Image();
    startImg.src = '/assets/img/roulette-start.png';
    denyImg.src = '/assets/img/roulette-deny.png';

    startImg.onload = function(){
        initRoulette();
    }

    let rouletteUID = [[${rouletteUID}]];
    // img.src가 로드되고 나서 룰렛 생성
    function initRoulette(){
        $.ajax({
            url : '/api/v1/roulette/share/' + rouletteUID,
            type : 'GET',
            success : function(roulette) {
                rouletteUID = roulette.rouletteUID;

                // 룰렛 타이틀 설정
                $("#title").text(roulette.title);

                // 완료된 룰렛일 경우 각도 설정
                if(roulette.rouletteStatus == "FINISH"){
                    setRouletteAngle(roulette, roulette.rouletteSegment);
                    $("#canvas").removeAttr("onclick");
                    $("#item").remove();
                    $("#rouletteHistoryTable").remove();
                }

                // 룰렛 세그먼트 초기화
                setRouletteSegment(roulette.rouletteSegment);

                // 룰렛 초기화
                setRoulette(denyImg);
            },
            error : function(request, textStatus, errorThrown) {
                alert(request.responseJSON.message);
                location.href = "/roulette"
            }
        });

    }

    // 세그먼트 저장
    function saveSegment(){
        var data = {
            element: $('#rouletteItem').val(),
            rouletteUID: rouletteUID
        };
        $.ajax({
            url : '/api/v1/roulette/segment',
            data : data,
            type : 'POST',
            success : function(roulette) {
                alert("등록되었습니다.")
                location.href = "/roulette/share/" + rouletteUID;
            },
            error : function(request, textStatus, errorThrown) {
                alert(request.responseJSON.message);
            }
        });

    }

    function openKakaoLink(){
        saveRouletteImg();
        $("#create-kakaotalk-sharing-btn").click()
    }
    function saveRouletteImg(){
        let canvas = document.getElementById('canvas');
        let canvImgStr = canvas.toDataURL('image/png', 1.0);  // canvas.toDataURL()을 이용하여 base64 img string 으로 변경
        $.ajax({
            url : '/saveRouletteImg',
            data : { strImg: canvImgStr, gameCode: rouletteUID },
            type : 'POST',
            success : function(json) {
                createSharingBtn();
            },
            error : function(request, textStatus, errorThrown) {
                location.href = "/html/error.html";
            }
        });
        return;
    }
    function createSharingBtn(){
        Kakao.Link.createDefaultButton({
            container: '#create-kakaotalk-sharing-btn',
            objectType: 'feed',
            content: {
                title: '36회차 게임',
                description: '원하는 메뉴를 등록 해주세요~',
                //imageUrl: 'https://webisfree.com/static/uploads/2020/6269_webisfree867.jpg',
                imageUrl: $("#serverURI").val() + '/loadImage.do?fileId=1&gameCode=' + rouletteUID + '&blockCache=' + generateRandomString(10),
                link: {
                    mobileWebUrl: 'https://developers.kakao.com',
                    webUrl: 'https://developers.kakao.com',
                },
            },
            social: {
                commentCount: 30,
            },
            buttons: [
                {
                    title: '등록하러 가기',
                    link: {
                        mobileWebUrl: $("#serverURI").val(),
                        webUrl: $("#serverURI").val(),
                    },
                },
            ],
            serverCallbackArgs: '{"key":"value"}'
        })
    }
</script>
</html>