<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/header}"></div>
<body class="sb-nav-fixed">
    <div th:replace="~{layout/navbar}"></div>
        <div id="layoutSidenav_content">
            <main>

                <div class="container-fluid px-4">
                    <span id="rouletteHistory">
                    </span>
                    <div id="rouletteHistoryTable" class="row mt-4" th:each="roulette:${roulette}" >
                        <div class="col-xl-4 col-md-6" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 history-card">
                                            <div>
                                                <div class="left text-xs font-weight-bold text-uppercase mb-1" th:text="${roulette.getTitle()}">
                                                    점심은 뭐먹지</div>
                                                <div class="right text-xs font-weight-bold text-uppercase mb-1" th:text="${roulette.getCreateDate()}">
                                                    22.02.25 19:52</div>
                                            </div>

                                            <div class="prize h5 mb-0 font-weight-bold text-gray-800" th:text="${roulette.getPrize()}">탕수육</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">© 2023. loose All rights reserved.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light" style="margin-top: 50px">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<div th:replace="~{layout/footer}"></div>
<style>

.dataTable-table > tbody > tr > td {
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
}

.card-header.collapsed .sb-sidenav-collapse-arrow{
    transform: rotate(-90deg);
}
div.py-4.bg-light.mt-auto{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

table {width: 100%;}
td
{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.column_a {width: 50%;}
td.column_b {width: 20%;}
td.column_c {width: 30%;}


.card div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



</style>
<script>
   /* $.fn.hasScrollBar = function() {
        return (this.prop("scrollHeight") == 0 && this.prop("clientHeight") == 0) || (this.prop("scrollHeight") > this.prop("clientHeight"));
    }; // 스크롤 없을 때 Catch
*/

    let currentPage = 0;
    const currentSize = 10;
    let isEndHistory = false;
    $(function(){
        getHistory(currentPage, currentSize);
    });

    function getHistory(){
        if(isEndHistory == false){
            $.ajax({
                url : '/api/v1/roulette/history?page='+currentPage+'&size='+currentSize,
                type : 'GET',
                success : function(roulette) {
                    currentPage += 1;
                    //$('#rouletteHistoryTable').replaceWith(roulette);

                    let span = document.createElement('span'); // body에 추가할 span 태그를 추가
                    span.innerHTML = roulette;
                    $('#rouletteHistory').append(span);

                    if(roulette==""){
                        isEndHistory = true;
                    }
                    if($('#rouletteHistory').find(".card-body").length == 0){
                        alert("지난 게임 이력이 없습니다.");
                        location.href = "/roulette"
                    }
                },
                error : function(request, textStatus, errorThrown) {
                    alert(request.responseJSON.message);

                    location.href = "/roulette"
                }
            });
        }
    }

    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
            getHistory(currentPage, currentSize);
        }
    });

</script>
</html>
